server:
  port: 8082
  forward-headers-strategy: framework

spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/hsq_query_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 600000
      pool-name: HikariCP
  jpa:
    hibernate:
      ddl-auto: create-drop
      properties:
        hibernate:
          format_sql: true
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: "123456"
    virtual-host: /

broker:
  queue:
    task:
      exchange:
        name: tasks
      created:
        routing-key: tasks.v1.task-created

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
      rnds-atendimento:
        connectTimeout: 3000
        readTimeout: 3000
      cnes-unidade:
        connectTimeout: 2000
        readTimeout: 2000

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}

springdoc:
  api-docs:
    path: /v3/api-docs
  show-actuator: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      rnds-atendimento:
        baseConfig: default
      cnes-unidade:
        baseConfig: default
        failureRateThreshold: 40
  timelimiter:
    configs:
      default:
        timeoutDuration: 6s
    instances:
      rnds-atendimento:
        timeoutDuration: 4s
      cnes-unidade:
        timeoutDuration: 3s
