server:
  port: 8083

spring:
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: "123456"
    virtual-host: /

broker:
  queue:
    task:
      exchange:
        name: tasks
      created:
        routing-key: tasks.v1.task-created

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
      scheduling-service:
        connectTimeout: 3000
        readTimeout: 3000

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      scheduling-service:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 6s
    instances:
      scheduling-service:
        timeoutDuration: 4s